@use "../colors" as c;

.contactsSection {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;

  .contactsList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
  }
}
