@use "../colors" as c;

.languagesSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .languagesList {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
