@use "../colors" as c;

.profileSection {
  color: c.$dark-green;
  padding: 2.5rem 1rem;

  .name {
    font-size: 3rem;
  }

  .developer {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 697px) {
  .profileSection {
    text-align: center;
    padding: 0;

    .name {
      font-size: 8vw;
    }

    .developer {
      font-size: 5vw;
    }
  }
}
