@use "../colors" as c;

.strenghtsTitle {
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
}

.strenghtsList {
  display: flex;
  flex-direction: column;
  list-style: none;

  .strenghtsItem {
    padding: 7px 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-left: 10px solid c.$mainListColor;
    box-shadow: 2px -2px 5px 0 rgba(0, 0, 0, 0.1),
      -2px -2px 5px 0 rgba(0, 0, 0, 0.1), 2px 2px 5px 0 rgba(0, 0, 0, 0.1),
      -2px 2px 5px 0 rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    letter-spacing: 2px;
  }

  .strenghtsItem:nth-child(2) {
    border-color: c.$secondListColor;
  }

  .strenghtsItem:nth-child(3) {
    border-color: c.$thirdListColor;
  }

  .strenghtsItem:nth-child(4) {
    border-color: c.$forthListColor;
  }
}
