@use "colors" as c;

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

.body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: c.$peach;
  overflow-y: hidden;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
}

.footer-container {
  padding-bottom: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(292px, 1fr));
}

@media screen and (max-width: 780px) {
  .main-container {
    flex-direction: column;
  }
}
